
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="~/Employee/Login" method="post">
    <label>UserName</label>
    @Html.TextBox("UserName")
    <br />
    <label>Password</label>
    @Html.Password("Password")
    <br />
    <input type="submit" class="btn btn-success" />
</form>