
@{
    ViewBag.Title = "NewIndex6";
    var emp = ViewBag.info;
}

<h2>NewIndex6</h2>

<span>EmpId:</span>@emp.EmpIds<br />
<span>EmpName:</span>@emp.EmpName<br />
<span>Empsalary:</span>@emp.EmpSalary<br />
